<div class="header">
    <div class="logo"></div>
    <div class="vertical_seperator"></div>
    <div class="title">登录</div>
</div>
<script type="text/javascript">
    function setHomepage(obj, url){
        try{
            obj.style.behavior='url(#default#homepage)';obj.setHomePage(url);
            alert("设置成功");
        }catch(e){
            if(window.netscape){
                try{
                    netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect");
                }catch(e){
                    alert("此操作被浏览器拒绝！\n请在浏览器地址栏输入“about:config”并回车\n然后将 [signed.applets.codebase_principal_support]的值设置为'true',双击即可。");
                }
                var prefs = Components.classes['@mozilla.org/preferences-service;1'].getService(Components.interfaces.nsIPrefBranch);
                prefs.setCharPref('browser.startup.homepage',url);
            }
        }
    }

    function addFavorite(title, url){
        try{
            window.external.addFavorite(url, title);
        }catch(e){
            try{
                window.sidebar.addPanel(title, url, "");
            }catch(e){
                alert("当前浏览器版本不支持此操作，请使用Ctrl+D进行添加");
            }
        }
    }

    var t;
    $('#top .recommend').hover(function(){
        clearTimeout(t);
        $('#gameMoreItem').slideDown('fast');
    },function(){
        t = setTimeout("$('#gameMoreItem').stop().slideUp('fast')", 1000);
        $('#gameMoreItem').hover(function(){
            clearTimeout(t);
        },function(){
            t = setTimeout("$('#gameMoreItem').stop().slideUp('fast')", 1000);
        });
    });
</script>