.content{
    width: 100%;
}
.content>.welcome{
	width: 961px;
	height: 24px;
}
.content>.welcome>.welcome_notice{
	position: relative;
	float: left;
	width: 5px;
	height: 24px;
	background-color: #ef3e36;
}
.content>.welcome>.welcome_notice_text{
	position: relative;
	float: left;
	width: 300px;
	padding-left: 10px;
	font-family: '微软雅黑';
	font-size: 18px;
}
.content>.body{
	margin: 30px 0 0 0;
	width: 100%;
	height: 370px;
}
.content>.body .tab{
	position: relative;
	float: left;
	width: 150px;
	height: 27px;
    border: 1px solid #eee;
    border-bottom: 0;
	background-color: #fff;
	text-align: center;
	padding-top: 7px;
	font-family: '微软雅黑';
	font-size: 16px;
	color: #a0a0a0;
	cursor: pointer;
    z-index: 1000;
}
.content>.body .tab:hover{
	color: #a0a0a0;
}
.content>.body .tab_current {
	color: #222;
    height: 28px;
    margin-bottom: -1px;
}
.content>.body .tab_body{
	position: relative;
	float: left;
	height: 370px;
    background-color: #fff;
    border: 1px solid #eee;
    border-bottom: 4px solid #000;
    padding-top: 20px;
}
.content>.body .tab_body > div.register_left {
	position: relative;
}
.content>.body .tab_body > div.mail_register_seperator {
	position: relative;
	float: left;
	width: 1px;
	height: 320px;
	background-color: #cccccc;
	margin-top: 19px;
}
.content>.body .tab_body > div.mail_register_right {
	position: relative;
	float: left;
	width: 187px;
}
.content>.body .tab_body > div.mail_register_right > div.login_text{
	width: 100%;
	text-align: center;
	margin-top: 139px;
	font-family: '微软雅黑';
	font-size: 16px;
	color: #333333;
}
.content>.body .tab_body > div.register_left > form > table .message > span {
	position: relative;
	float: left;
	font-family: '宋体';
	font-size: 13px;
	color: #ef3e36;
}
.content>.body .tab_body > div.register_left > form > table td {
	height: 52px;
}
.content>.body .tab_body > div.register_left > form > table td.left {
	text-align: right;
	font-family: '宋体';
	font-size: 14px;
	color: #333333;
}
.content>.body .tab_body > div.register_left > form > table .right {
	text-align: left;
}
.content>.body .tab_body > div.register_left > form > table .text {
	width: 260px;
	height: 26px;
	border: 1px solid #a9a9a9;
}
.content>.body .tab_body > div.register_left > form > table input:focus {
    outline: none;
}
.content>.body .tab_body > div.register_left > form > table .agreed_info {
	font-family: '宋体';
	font-size: 12px;
	color: #999999;
}
.content>.body .tab_body > div.register_left > form > table .checked_info {
	color: #ef3e36;
}
.login_btn {
	background-image:url(./../../images/v1/login_btn.png);
	background-repeat: no-repeat;
	width: 146px;
	height: 42px;
	margin-top: 30px;
	margin-left: 25px;
	cursor: pointer;
}
#register_btn, #phone_register_btn{
	background-image:url(./../../images/v1/register_btn.png);
	background-repeat: no-repeat;
	width: 266px;
	height: 42px;
	cursor: pointer;
}
#get_verifier_btn {
	position: relative;
	float: left;
	background-image:url(./../../images/v1/get_verifier_btn.png);
	background-repeat: no-repeat;
	width: 99px;
	height: 24px;
	margin-left: 20px;
	margin-top: -2px;
	cursor: pointer;
	
	text-align: center;
	padding-top: 12px;
	font-family: '宋体';
	font-size: 12px;
	color: #666666;
}
#get_verifier_btn:hover {
	color: #ffffff;
}

.body-left {
    float: left;
    width: 650px;
}

.body-right {
    float: right;
    margin-left: 60px;
    height: 410px;
}

.body-right-topText {
    color: #222;
    font-size: 14px;
    margin: 0 0 18px 0;
    width: 100%;
    text-align: right;
}

.body-right-function {
    width: 490px;
    height: 395px;
    background: #ddd;
    color: #fff;
    font-size: 18px;
    line-height: 395px;
    text-align: center;
}