
#myCircle{
	width:81px;
}
#myCircle a{
	float:left;
}

.y-nav-bl,.y-nav-br,.y-nav-tl,.y-nav-tr{
	width:2px;
	height:2px;
	position:absolute;
	background:url(../images/index.png) no-repeat;
}
.new-feeds-list li{
	width:356px;
}
.cateory-list li{
	width:366px;
}
.sub-content-list li,.box-content-list li{
	_height:1%;
}
.box-content-list li{
	height:64px;
	float:left;
	width:360px;
}
/*dropmenu*/
.y-nav{
	z-index:2;
}
.circle-comment {
	_height:1%;
}
.circle-feed .circle-icon,.my-info-list .circle-icon,.account-info-list .circle-icon{
	position:relative;
	top:0px;
}
.page-info a,.page-info span{
	vertical-align:middle;
}
.my-circle-create-joined{
	_float:left;
	_margin-right:0;
	_width:744px;
}
*html .popup-hint-text {
pop:expression(this.parentNode.parentNode.style.width=this.clientWidth+"px");
side:expression(this.parentNode.lastChild.style.left=this.clientWidth+"px");
}
*html .popup-select .copy-list {
	position:relative;
height:expression((function(el) {
 try {
 el.style.height=document.body.clientHeight-48+"px";
 window.onresize=function() {
 el.style.height=document.body.clientHeight-48+"px";
}
}
 catch(e) {
}
}
)(this));
}
.s-type{
	top:7px;
}
.circle-member-list .fl{
	width:340px;
}
.table-topic *{
	vertical-align:middle;
}
.Y-dialog-wrap{
	display:inline;
}
.ft-action{
	width:400px;
	margin:10px auto 0;
	_width:420px;
}
.ft-action .circle-btn{
	float:left;
}
.ft-action .circle-btn span{
	margin-left:-1px;
	overflow:hidden;
	zoom:1;
}
#js_reward_list{
	line-height:22px;
}
#js_reward_list li{
	vertical-align:middle;
}
.topic-content-flag{
	top:-8px;
}
.topic-content-input textarea{
	width:630px;
}
.my-join-group li{
	float:left;
	width:328px;
	height:133px;
}
.my-group-action .circle-icon{
	position:relative;
	top:2px;
	_margin:5px 2px;
	_top:0px;
}
.topic-text .circle-icon{
	top:1px;
	margin-right:3px;
}
