/**
 * @author:蓝面小生
 * @date:2011/10/21
 * 圈子首页改版V2
 */
a,li{
	-moz-transition:color 0.15s ease-in;
    	-webkit-transition:color 0.15s ease-in;
}

.n-topic-img{
	background:url(../images/index_show.jpg) right top no-repeat;
	width:440px;
	height:152px;
	float:left;
}
.user-bg{
	background:#36c;
	opacity:0.8;
	filter:alpha(opacity=80);
	position:absolute;
	z-index:-1;
	width:100%;
	height:100%;
}
.user-img-info{
	padding-left:10px;
}
.for-top{
	margin-top:1px;
}
.n-topic-top h2,.n-t-left,.n-t-right{
	background:url(../images/new_index_web.png) 0 -240px no-repeat;
	width:80px;
	height:30px;
	line-height:9999px;
	overflow:hidden;
}
.n-topic-resource .n-topic-top h2{
	background-position:0 -270px;
}
.n-tool{
	float:right;
}
.n-t-left,.n-t-right{
	display:inline-block;
	width:17px;
	height:17px;
	background-position:0 -1px;
	margin:5px 0 5px 5px;
}
.n-t-right{
	background-position:-20px -23px;
}
.n-t-right:hover{
	background-position:0 -23px;
}
.n-t-left:hover{
	background-position:-20px -1px;
}
.n-list-con li{
	border-bottom:1px dotted #ddd;
	padding-top:5px;
	position:relative;
	line-height:22px;
	_border-bottom:1px dashed #ddd;
}
.n-list-con li.list-img{
	height:120px;
	padding-left:110px;
}
.n-list-con .circle-icon{
	position:relative;
	top:-2px;
}
.list-from{
	position:absolute;
	bottom:5px;
	right:0;
}
.img-detail{
	width:100px;
	height:100px;
	position:absolute;
	top:5px;
	left:0;
	overflow:hidden;
}
.detail-desc{
	margin-top:5px;
	word-wrap:break-word;
	height:44px;
	overflow:hidden;
}
.n-con-top{
	height:150px;
	overflow:hidden;
	position:relative;
	width:100%;
}
.n-top-show{
	width:100%;
	height:100%;
}
.n-desc{
	position:absolute;
	height:30px;
	bottom:-30px;
	left:0;
	width:100%;
	z-index:1;
	line-height:30px;
	color:#fff;
}
.n-desc span{
	padding-left:10px;
}
.desc-bg{
	position:absolute;
	width:100%;
	background:#151515;
	opacity:0.5;
	height:100%;
	filter:alpha(opacity=50);
	z-index:-1;
}
.n-text-list{
	height:45px;
	border-bottom:1px solid #e0e0e0;
	overflow:hidden;
}
.n-video,.n-music,.n-file,.n-doc{
	background: url(../images/new_index_web.png) 0 -380px no-repeat;
	width:45px;
	height:45px;
	float:left;
	margin-right:10px;
}
.n-music{
	background-position: 0 -560px;
}
.n-file{
	background-position: 0 -470px;
}
.n-doc{
	background-position: -2px -663px;
}
.n-text-list img{
	float:left;
	margin-right:10px;
}
.n-reader{
	height:155px;
	/*background:#eaeaea;*/
	padding-left:10px;
	padding-right:10px;
}
.n-reader:hover a{
	color:#f63;
}
.n-reader-title{
	font-size:14px;
	height:28px;
	line-height:28px;
}
ul.n-topic-top{
	height:30px;
}
ul.n-topic-top li{
	float:left;
	line-height:25px;
	height:30px;
}
ul.n-topic-top li a{
	color:#444;
	border-right:1px solid #ddd;
	padding:0 15px;
}
ul.n-topic-top li.active{
	font-weight:bolder;
}
ul.n-topic-top li.active a{
	color:#000;
}
/*ul.n-topic-top li.active{
	border:1px solid #ddd;
	background:#fff;
	border-bottom-width:0;
	position:relative;
	left:-1px;
	line-height:28px;
	font-weight:bolder;
}
ul.n-topic-top li.active a{
	position:relative;
	right:-1px;
}
*/
ul.n-topic-top a.last{
	border-right-width:0;
}
.n-rank-list{
}
.n-rank-list li{
	position:relative;
	margin-right:19px;
	float:left;
	width:60px;
	height:85px;
	margin-top:14px;
	overflow:hidden;
}
.n-rank-list li.first{
	margin-top:3px;
}
.n-rank-list li.last{
	margin-right:0;
}
.n-rank-list li img{
	display:block;
}
.n-img-info{
	width:60px;
	height:60px;
	overflow:hidden;
	display:block;
	position:relative;
}
.text-desc{
	line-height:25px;
	text-align:center;
	height:25px;
	overflow:hidden;
	display:block;
}
.n-rank-list .n-desc{
	height:40px;
	line-height:20px;
	bottom:-40px;
	overflow:hidden;
}
.n-img-info:hover .n-desc{
	bottom:0;
}
.n-p-count,.n-t-count{
	padding-left:16px;
	background:url(../images/new_index_web.png) 2px -55px ;
	height:20px;
}
.n-t-count{
	background-position:2px -75px;
}
.search-circle .n-topic-top h2{
	background-position:0 -300px;
	float:left;
}
.n-title-info{
	line-height:35px;
}
 .circle_115{
	vertical-align:middle;
	font-weight:bolder;
	_margin:5px 0px;
	font-size:14px;
	margin-left:5px;
	background:url(../images/ren_btn.png) 0 -34px no-repeat;
	display:inline-block;
	height:33px;
	width:115px;
	line-height:100px;
	overflow:hidden;
}
.circle_115:hover{
	background-position:0 0px;
}
.s-c-area{
	border:1px solid #ddd;
	padding:5px 0;
	background:#fbfbfb url(../images/repeat_new_index.png) 0 -42px repeat-x;
}
.top-label{
	width:50px;
	float:left;
	text-align:center;
}
.area-top .top-label{
	line-height:30px;
}
.a-i-wrap{
	float:left;
	width:900px;
}
.area-top{
	padding-bottom:10px;
	border-bottom:1px solid #ddd;
}
.area-bottom{
	padding-top:10px;
}
.area-item{
	padding:0 10px;
	border-right:1px solid #e8e8e8;
	white-space:nowrap;
}
.area-item.last{
	border-right-width:0;
}
.n-categroy-info{
	margin-top:5px;
}
.area-active{
	color:#000;
	font-weight:bolder;
}
.a-i-wrap select{
	margin-left:10px;
	height:23px;
	border:1px solid #ddd;
	width:80px;
}
.search-circle .n-topic-top{
	height:35px;
}
.n-order-type{
	float:right;
	margin-top:3px;
}
.n-order-type .top-label{
	line-height:15px;
}
.n-order-by,.n-order-by:hover{
	border-right:1px solid #ccc;
	padding:0 10px;
	color:#444;
	height:15px;
	line-height:15px;
	overflow:hidden;
	float:left;
}
.n-order-active{
	font-weight:bolder;
	color:#000;
}
.n-order-by.last{
	border-width:0;
}
/*.n-order-by:hover{
	background-position:0 -21px;
	color:#36c;
}*/
.n-shadow{
	border:1px solid #f7f7f7;
	height:0;
	overflow:hidden;
	font-size:0;
	line-height:0;
}
.n-order-desc,.n-order-asc{
	font-weight:bolder;
}
.n-order-desc .n-flag,.n-order-asc .n-flag{
	background:url(../images/new_index_web.png) -20px -330px;
	width:10px;
	height:15px;
	display:inline-block;
	vertical-align:middle;
	_margin:3px 0px;
}
.n-order-desc .n-flag{
	background-position: 0 -330px;
}
.n-order-asc .n-flag{
	background-position: 0 -350px;
}
.a-search-con table{
	table-layout:fixed;
	width:100%;
}
.a-search-con table td{
	height:90px;
	border-bottom:1px solid #ddd;
}
.a-list-circle{
	width:470px;
	padding-right:20px;
}
.a-list-topic{
	width:370px;
}
.a-list-img{
	float:left;
	margin-left:10px;
	margin-top:5px;
}
.a-list-info{
	margin-left:80px;
}
.a-list-person{
	text-align:center;
}
.person-img,.topic-img,.by-img,.create-img{
	background:url(../images/new_index_web.png) no-repeat 0px -96px;
	padding-left:16px;
	margin-right:10px;
	color:#999;
}
.topic-img{
	background-position: 0 -116px;
}
.by-img{
	background-position: 0 -136px;
}
.create-img{
	background-position: 0 -157px;
}
.n-add-act,.n-view-act{
	width:47px;
	height:18px;
	background:url(../images/new_index_web.png) 0px -180px;
	float:right;
	position:relative;
	right:15px;
	top:10px;
}
.n-view-act{
	background-position:0 -208px;
}
.second-cate{
	border:1px solid #ffd9b2;
	background:#fef5e4;
	margin:5px 10px 5px 5px;
	padding:5px;
	position:relative;
	width:880px;
}
.second-cate .area-item{
	display:inline-block;
	line-height:15px;
	height:13px;
	margin:5px 0;
}
.second-cate-flag{
	width:12px;
	height:8px;
	background:url(../images/new_index_web.png) -20px -233px;
	position:absolute;
	top:-7px;
	overflow:hidden;
	left:10px;
}
.n-text-list a{
	color:#151515;
}
.n-text-list a:hover{
	color:#f63;
}
.n-text-list:hover{
	background: url("../images/repeat_new_index.png") repeat-x scroll 0 -100px #FBFBFB;
}
.n-text-list:hover .n-file{
	background-position:0 -515px;
}
.n-text-list:hover .n-music{
	background-position:0 -605px;
}
.n-text-list:hover .n-doc{
	background-position:-2px -708px;
}
.n-text-list:hover .n-video{
	background-position:0 -425px;
}
.n-text-list p{
	color:#999;
}
.a-list-info p{
	word-wrap:break-word;
}
.SelectCity,.hasSelectCity{
	margin-left:10px;
}
.n-r-con{
	width:10000px;
	position:relative;
}
.n-r-con-wrap{
	float:left;
	width:270px;
	position:relative;
}
.n-reader-con{
	word-wrap:break-word;
	color:#151515;
	display:block;
}
.n-list-con{
	float:left;
	width:437px;
	position:relative;
}
#resultEmpty,#resultLess{
	background:url(../images/cry.gif) no-repeat;
	padding:10px 0 10px 130px;
	width:340px;
	margin:30px auto;
}
#resultEmpty a,#resultLess a{
	margin-left:10px;
}
.no-circle{
	font-size:14px;
	margin-bottom:10px;
}
.text-title{
	color:#36c;
	font-size:14px;
}
.c-desc{
	height:25px;
	overflow:hidden;
	line-height:25px;
}
.n-topic-list{
    width:437px;
    float:left;
    overflow:hidden;
    position:relative;
    margin-left:6px;
}
.n-topic-rank{
    width:220px;
    float:right;
    height:508px;
    overflow:hidden;
    position:relative;
}
.n-topic-resource{
    width:270px;
    float:left;
    margin-left:1px;
    display:inline;
    overflow:hidden;
    position:relative;
    margin-right:10px;
}
.n-topic{
    background:url(../images/show.png) no-repeat;
    height:162px;
    position:relative;
    font-family:Tahoma;
}
.n-list-con li.list-img{
    padding-left:10px;
}
.list-img .text-title{
    font-size:14px;
}
.n-topic-list .n-topic-top{
    background:url(../images/repeat_new_index.png) repeat-x;
    border-bottom:1px solid #ddd;
    height:30px;
    overflow:hidden;
}
.n-topic-list .n-topic-top h2{
    margin-left:10px;
}
.n-topic-list .n-tool{
    margin-right:10px;
}
.n-circle-info{
    position:absolute;
    bottom:15px;
    left:30px;
    width:280px;
    color:#555555;
}
.n-circle-info .blue,.n-circle-info .orange{
    font-size:18px;
    margin:0 5px;
}
.n-circle-info .blue{
    color:#3488c3;
}
.n-user-img{
    position:absolute;
    width:330px;
    top:20px;
    left:340px;
    height:auto;
}
.n-user-img img{
    width:40px;
    height:40px;
    display:block;
}
.n-user-img li{
    float:left;
    width:40px;
    height:40px;
    margin-left:1px;
    margin-top:1px;
}
.n-user-first{
    margin-left:82px;
}
.n-user-second{
    margin-left:41px;
}
.n-user-img li.sepcial-li{
    margin-left:83px;
}
.n-user-img li.n-user-last{
    margin-left:42px;
}
.n-user-large{
    position:relative;
}
.n-user-large a{
    position:absolute;
}
.n-user-large a img{
    width:81px;
    height:81px;
}
.n-user-img li.active{
    position:relative;
    z-index:2;
}
.user-img-detail{
    position:absolute;
    top:0;
    left:42px;
    width:122px;
    height:40px;
    z-index:2;
    color:#fff;
}
.user-img-info{
    line-height:20px;
}
.forLeft .user-img-detail{
    left:-123px;
}
.create-circle{
    position:absolute;
    width:171px;
    height:51px;
    background:url(../images/c_circle.png) 0 0 no-repeat;
    line-height:9999px;
    overflow:hidden;
    top:45px;
    right:28px;
}
.create-circle:hover{
    background-position:0 -51px;
}
.n-user-large .user-img-detail{
    height:80px;
    left:82px;
    width:80px;
}
#bd .container{
    background:url(../images/repeat_y_container.png) repeat-y;
    border:1px solid #e8e8e8;
    border-width:1px 0;
}
.n-topic-resource .n-topic-top h2{
    margin-left:10px;
}
.n-rank-list li{
    
    margin-right:15px;
}
.n-list-con li{
    padding:5px 10px;
    margin-top:1px;
    *margin-top:0;
}
.n-list-con li:hover{
    background:#f5f5f5;
    cursor:default;
}
.n-list-con li.last{
    border-bottom-width:0;
}
.list-from{
    right:10px;
}
.s-c-area{
    background-position:0 -75px;
}
.n-text-list:hover{
    background-position:0 -31px;
}
.hover td{
    background:#f1f6fc;
}

