#tbody{ background: url("../images/tbodyBG.png") repeat-x left -246px; margin-top: 7px; margin-bottom: 17px;}
#tbody .inner{ width: 100%; height: 58px; border-top: 1px solid #eb8513; border-bottom: 1px solid #eb8513; text-align: center;}
#tbody .inner .inner{ width: 1000px; height: 58px; border: none; line-height: 58px; text-align: left;}
#tbody .inner h1{ height: 58px; text-indent: -9999px; overflow: hidden; background: url("../images/loginH1.gif") no-repeat 20px center;}

#loginForm{ width: 1000px; margin: 0 auto; text-align: left;}

#loginForm .loginForm{ width: 428px; height: 208px; padding: 40px; border: 1px solid #dddfea; background: #FFF; float: left;}
#loginForm .loginForm table{ width: 428px;}
#loginForm .loginForm th{ font-weight: normal; width: 120px; text-align: right;}
#loginForm .loginForm td{ text-align: left; height: 40px;}
#loginForm .loginForm table td *{ vertical-align: middle;}
#loginForm .loginForm input.text{ width: 202px; height: 23px; border: 1px solid #dddfea; padding: 0px 5px;}
#loginForm .loginForm input.submit{ width: 81px; height: 30px; background-position: 0px 0px; color: #FFF; font-family: '微软雅黑';}
#loginForm .loginForm a:hover{ color: #E38C0F;}

#loginForm .recommend{ width: 440px; height: 290px; overflow: hidden; float: right;}
#loginForm .recommend .pBody{ padding: 0px; padding-top: 10px;}
#loginForm .recommend .pBody ul{ width: 450px;}
#loginForm .recommend .pBody li{ width: 225px; height: 126px; float: left;}
#loginForm .recommend .pBody li img{ width: 215px; height: 116px;}

#register{ width: 940px; margin: 0 auto; padding: 39px; border: 1px solid #dfe1eb; background: #FFF; text-align: left;}
#register h3{ height: 40px; border-bottom: 1px dotted #cfcfcf; font-weight: normal; font-size: 12px; line-height: 18px;}
#register h3 strong{ font-weight: bold; font-size: 18px; font-family: '微软雅黑';}
#register h3 strong span{ font-size: 12px; font-weight: normal; font-family: '宋体'; color: red;}
#register h3 span a{ color: red;}

#register table{ width: 940px;}
#register table th{ font-weight: normal;}
#register table td{ height: 50px;}
#register .label{ width: 115px; text-align: right;}
#register .form{ width: 225px; text-align: left;}
#register .msg{ color: #a3a3a3; text-align: left;}
#register input.text{ width: 202px; height: 24px; border: 1px solid #dddfea; padding: 0px 5px;}
#register .idcard{ height: 30px; line-height: 30px; background: url("../images/idcardIcon.gif") no-repeat 115px center; padding-left: 160px; text-align: left; font-weight: bold;}
#register .agreechk{ color: red; font-weight: bold;}