/*
 * 评论
 */
.ui-comments{
	height:50px;
	resize:none;
	word-wrap:break-word;
	overflow:hidden;
	padding-top:1px;
}

/*置顶操作*/
.topic-operation{
	background:#fff5c5;
	height:25px;
	line-height:25px;
	border:1px solid #f8e2ad;
	color:#b85a0e; 
	margin-top:5px;
	display:inline-block;  
	padding:0 10px;
	*display:inline;
	zoom:1;
}
.topic-operation a,.topic-operation strong{
	margin:0 5px;
}
.topic-operation a{
	color:#3366cc;
}
.topic-operation strong.red{
	color:#ff0000;
}
.textareaDiv{
	padding:10px;
	width:600px;
	height:200px;
}
/*加亮*/
.color{
	display:inline-block;
	padding:1px;
	border:1px solid #ddd;
	margin-right:5px;
	height:16px;
	width:16px;
	cursor:pointer;
}
.color-press{
	border-color:#444;
}
.color i{
	display:inline-block;
	height:16px;
	width:16px;
}
.red-bak i{
	background:#ff0000;
	background:-webkit-gradient(linear,left top,right bottom,color-stop(0.5, #ff3333),color-stop(0.5, #ff0000) ) ;
	background:-moz-linear-gradient(left top,#ff3333 50%,#ff0000 50%);
}
.orange-bak i{
	background:#ff6600;
	background:-webkit-gradient(linear,left top,right bottom,color-stop(0.5, #ff8533),color-stop(0.5, #ff6600) ) ;
	background:-moz-linear-gradient(left top,#ff8533 50%,#ff6600 50%);
}
.yellow-bak i{
	background:#ffcc00;
	background:-webkit-gradient(linear,left top,right bottom,color-stop(0.5, #ffd633),color-stop(0.5, #ffcc00) ) ;
	background:-moz-linear-gradient(left top,#ffd633 50%,#ffcc00 50%);
}
.green-bak i{
	background:#008000;
	background:-webkit-gradient(linear,left top,right bottom,color-stop(0.5, #339933),color-stop(0.5, #008000) ) ;
	background:-moz-linear-gradient(left top,#339933 50%,#008000 50%);
}
.cyan-bak i{
	background-color:#008080;
	background:-webkit-gradient(linear,left top,right bottom,color-stop(0.5, #339999),color-stop(0.5, #008080) ) ;
	background:-moz-linear-gradient(left top,#339999 50%,#008080 50%);
}
.blue-bak i{
	background-color:#0000ff;
	background:-webkit-gradient(linear,left top,right bottom,color-stop(0.5, #3333ff),color-stop(0.5, #0000ff) ) ;
	background:-moz-linear-gradient(left top,#3333ff 50%,#0000ff 50%);
}
.purple-bak i{
	background-color:#333399;
	background:-webkit-gradient(linear,left top,right bottom,color-stop(0.5, #5c5cad),color-stop(0.5, #333399) ) ;
	background:-moz-linear-gradient(left top,#5c5cad 50%,#333399 50%);
}
strong .color {
	line-height:16px;
	text-align:center;
}
.select-color{
	position:relative;
	_height:1%;
}
.style-preview{
	right:10px;
	top:10px;
	width:90px;
	height:50px;
	text-align:center;
	padding-top:10px;
	border:1px solid #ccc;
	position:absolute;
}
