#tbody{ background: url("../images/tbodyBG.png") repeat-x left -246px; margin-top: 7px; margin-bottom: 17px;}
#tbody .inner{ width: 100%; height: 58px; border-top: 1px solid #eb8513; border-bottom: 1px solid #eb8513; text-align: center;}
#tbody .inner .inner{ width: 1000px; height: 58px; border: none; line-height: 58px; text-align: left;}
#tbody .inner h1{ height: 58px; text-indent: -9999px; overflow: hidden; background: url("../images/userH1.gif") no-repeat 20px center;}

#user{ width: 1000px; margin: 0 auto;}
#user .top{ height: 37px; line-height: 37px; padding-right: 15px; background: url("../images/userBodyTop.png") no-repeat 0px 0px; padding-left: 222px;}
#user .top .breadcrumbs{ padding: 0px; height: 37px; line-height: 37px; float: left;}

.userBody{ width: 1000px; background: url("../images/userBodyBG.gif") repeat-y 0px 0px; border-bottom: 1px solid #dddfea;}

.userNav{ width: 190px; float: left;}
.userNav li{ float: left; width: 190px; height: 35px; background: url("../images/userNavItemBG.gif") no-repeat 0px -37px; overflow: hidden;}
.userNav li a{ display: block; width: 154px; padding-left: 38px; height: 36px; line-height: 36px; text-align: left; overflow: hidden;}
.userNav li.first{ border-top: 1px solid #dddfea;}
.userNav li.hover{ height: 37px; background-position: 0px -35px;}
.userNav li.first.hover{ border-top: none;}
.userNav li.hover a{ background: url("../images/userNavItemBG.gif") no-repeat 0px 0px; color: #FFF;}

.notice{ float: right; height: 36px; line-height: 36px; text-align: left; padding-left: 30px; width: 779px; background: #eee; border-right: 1px solid #dddfea; font-family: Arial;}
.notice span{ color: red;}

.userInner{ width: 730px; padding: 20px 40px; float: right; text-align: left;}

.userInner table{ width: 730px;}
.userInner table th{ font-weight: normal; text-align: right; width: 100px;}
.userInner table td{ height: 42px; text-align: left;}
.userInner table td *{ vertical-align: middle;}
.userInner .msg{ color: #a3a3a3; padding-left: 10px;}
.userInner select{ height: 25px; border: 1px solid #dddfea; padding: 2px;}
.userInner input.text{ width: 202px; height: 23px; border: 1px solid #dddfea; padding: 0px 5px;}

.idcardNotice{ padding: 40px 40px 0px; line-height: 24px;}
.idcardNotice h3{ margin-top: 20px; font-size: 14px;}
.idcardNotice strong{ color: red;}