<!DOCTYPE html>
<html>
<head>
    <title>杏娱</title>
    <!--# include virtual="./ssi/meta.html" -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="/css/v2/page/findPassword.min.css" rel="stylesheet" />
</head>
<body>
<div class="main">
    <!--# include virtual="./ssi/header.html" -->
</div>
<div class="mbody">
    <div class="main">
        <div class="mbody-title">
            <div class="mbody-title-notice"></div>
            <div class="mbody-title-text">首页>找回密码</div>
        </div>
        <div class="main-panel">
            <div class="fp-main">
                <div class="fp-main-notice mtl"><span class="icon-bell mrs"></span>你可以通过绑定手机和邮箱找回密码，找回密码后请牢记新密码。</div>
                <div class="fp-main-progress step1">
                    <span class="icon-number1 mrs" id="step1"></span><span>确认账号</span>
                    <span class="icon-number2 mrs" id="step2"></span><span>安全验证</span>
                    <span class="icon-number3 mrs" id="step3"></span><span>重置密码</span>
                </div>
                <form method="post" name="step1_form" action="/forgetpwd/validate?_t={{ _t }}">
                    <table border="0" class="fp-main-table">
                        <tr>
                            <td class="col3-1">帐号：</td>
                            <td class="col3-2"><input type="text" id="username" name="username" class="input input-normal" maxlength="20" /></td>
                            <td class="col3-3"><span class="hidden"><span class="icon-wrong mrs"></span>请输入你的账号</span></td>
                        </tr>
                        <tr>
                            <td class="col3-1">验证码：</td>
                            <td class="col3-2">
                                <input name="validate" type="text" id="vdcode" class="input input-small fl" />
                                <img id="vdimgck" src="/captcha" alt="看不清？点击更换" align="absmiddle"  class="validecode fl" onclick="this.src=this.src+'?'" />
                            </td>
                            <td class="col3-3"><span class="hidden"><span class="icon-wrong mrs"></span>请输入验证码</span></td>
                        </tr>
                        <tr>
                            <td class="col3-1">验证方式：</td>
                            <td class="col3-2">
                                <input type="radio" name="verifier_flag" id="phone" value="mobile" /><label for="phone">手机</label>
                                <input type="radio" name="verifier_flag" id="mail" value="email"/><label for="mail">邮箱</label>
                            </td>
                            <td class="col3-3">&nbsp;</td>
                        </tr>
                    </table>
                    <div class="fp-main-bottom">
                        <button class="btn btn-large btn-red " type="submit">下一步</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="fp-bottom">
            <div class="fp-bottom-black"></div>
            <div class="fp-bottom-red"></div>
        </div>
    </div>
</div>
<div class="main">
    <!--# include virtual="./ssi/footer.html" -->
</div>
</body>
