<html>
<head>
    <script src="{{ __STATIC__ }}js/jquery.js"></script>
    <script src="{{ __STATIC__ }}js/jquery.wallform.js"></script>
</head>
<img src="/captcha" class="" />

<form id="imageform" method="post" enctype="multipart/form-data" action="/upload">
    <div id="up_status" style="display:none"><img src="loader.gif" alt="uploading"/></div>
    <div id="up_btn" class="btn">
        <span>添加图片</span>
        <input id="photoimg" type="file" name="photoimg">
    </div>
</form>
<button name="isReal" value="1" id="isReal">确定</button>
<p>最大100KB，支持jpg，gif，png格式。</p>

<div id="preview"></div>
<script type="text/javascript">
    $(function(){
        $('#photoimg').die('click').live('change', function(){
            var status = $("#up_status");
            var btn = $("#up_btn");
            $("#imageform").ajaxForm({
                target: '#preview',
                beforeSubmit:function(){
                    status.show();
                    btn.hide();
                },
                success:function(){
                    status.hide();
                    btn.show();
                },
                error:function(){
                    status.hide();
                    btn.show();
                } }).submit();
        });
    });
    $(function(){
        $('#isReal').click(function(){
            var filename = $("#tmpImage").attr("src");
            if(filename){
                $.get('/upload?isReal=1&filename='+filename,function(msg){
                    console.log(msg);
                });
            }else{
                alert("请先上传头像");
            }
        })
    });
</script>
</html>